user default off
user jwtOpr on >{RedisOpPass} ~*:*.*.*.* +set +expire +unlink
user jwtReader on >{RedisReaderPass} ~*:*.*.*.* +get
user RedisReplicator on >{RedisRepPass} +psync +replconf +ping
user RedisSentinel on >{RedisSentPass} &* +multi +slaveof +ping +exec +subscribe +config|rewrite +role +publish +info +client|setname +client|kill +script|kill
user haproxy on >{HaproxyPass} +info +ping
